%h1 Listing favorite_words

%table
  %tr
    %th User
    %th Word
    %th
    %th
    %th

  - @favorite_words.each do |favorite_word|
    %tr
      %td= favorite_word.user
      %td= favorite_word.word
      %td= link_to 'Show', favorite_word
      %td= link_to 'Edit', edit_favorite_word_path(favorite_word)
      %td= link_to 'Destroy', favorite_word, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Favorite word', new_favorite_word_path
