= simple_form_for(@test_answer) do |f|
  = f.error_notification

  .form-inputs
    = f.association :reading_test
    = f.association :user
    = f.input :answer
    = f.input :correct

  .form-actions
    = f.button :submit
