%h1 Chinese Dictionary

= form_tag words_path, method: :get do
  %p
    = text_field_tag :query, params[:query], id: 'word_to_lookup'
    = submit_tag "Search", name: nil, id: 'lookup_word'

- if @words
  %p Here's what we found:
  - @words.each do |word|
    .row
      .col-md-8.dict_entry
        %p= word.traditional_char
        %p= word.simplified_char
        %p= word.pronunciation
        %p= word.meaning
        - if user_signed_in? && !current_user.faved_word?(word)
          = button_to 'Fav', favorite_word_path(word.id)
        - elsif user_signed_in? && current_user.faved_word?(word)
          Faved
