%h1 Listing reading_tests

%table
  %tr
    %th User
    %th Text
    %th Data
    %th Type
    %th
    %th
    %th

  - @reading_tests.each do |reading_test|
    %tr
      %td= reading_test.user
      %td= reading_test.text
      %td= reading_test.data
      %td= reading_test.test_type
      %td= link_to 'Show', reading_test
      %td= link_to 'Edit', edit_reading_test_path(reading_test)
      %td= link_to 'Destroy', reading_test, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Reading test', new_reading_test_path
