%p
  %b User:
  = @reading_test.user.email if @reading_test.user
%p
  %b Text:
  = @reading_test.text.title if @reading_test.text
%p
  %b Type:
  = @reading_test.test_type

%h2 Test:
%p= @reading_test.data['question']

%h3 Type your answer here:
= simple_form_for(TestAnswer.new) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :reading_test_id, value: @reading_test.id
    = f.hidden_field :user_id, value: current_user.id
    = f.input :answer

  .form-actions
    = f.button :submit, 'Answer'

%h3 Answer: #{@reading_test.data['answer']}

= link_to 'Edit', edit_reading_test_path(@reading_test)
\|
= link_to 'Back', reading_tests_path
