.col-md-10
  %h3= @text.title
  %h4
    Added by: #{@text.user}
  %h5
    From: #{short_source_link(@text)}
  %p
    = @text.content

  = link_to 'Edit', edit_text_path(@text)
  \|
  = link_to 'Back', texts_path
